.add-recipe-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-size: 1.2rem;
}

.add-recipe-form label {
  display: block;
  margin-bottom: 10px;
}

.add-recipe-form input,
.add-recipe-form textarea {
  width: 400%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-family: inherit;
  font-size: inherit;
}

.add-recipe-form textarea {
  height: 200px;
}

button {
  max-width: 130px;
  padding: 1rem 2rem;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  border: 2px solid #000;
  border-radius: 10%;
  background-color: transparent;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.add-save-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
